@import './fonts.css';
@import './theme.css';
@import './tailwind.css';

/* Global reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Root layout */

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main body style */

body {
  min-height: 100dvh;
  background-color: #020617;
  overflow-x: hidden;
}

/* React root container */

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}